<div class="container">
   <div class="search-form">
      <div class="card">
         <div class="row">
            <div class="col-lg-9">
               <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Etablissement, Ecole, Adresse, Catégorie">
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Chercher</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col col-lg-12 col-xl-10">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/">Home</a></li>
               <li class="breadcrumb-item"><a href="/etablissements">Etablissements</a></li>
            </ol>
         </nav>
      </div>
   </div>
</div>
<div id="content">
   <div class="container">
      <div class="row justify-content-md-center">
         <div class="col col-lg-12 col-xl-10">
            <div class="row has-sidebar">
               <div class="col-md-4 col-lg-3">
                  <button id="toggle-filters" class="btn btn-primary btn-circle mobile-filter"><i class="fa fa-filter"></i></button>
                  <div id="sidebar" class="sidebar-left">
                     <button class="close-panel btn btn-white"><i class="fa fa-long-arrow-left"></i></button>
                     <div class="sidebar_inner">
                        <div id="filters">
                           <div class="card">
                              <div class="card-header">
                                 <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="property_grid.html#p_budget" aria-expanded="true" aria-controls="p_type"> Budget <i class="fa fa-caret-down float-right"></i> </a> </h4>
                              </div>
                              <div id="p_budget" class="panel-collapse collapse" role="tabpanel">
                                 <div class="card-body">
                                    <div class="row">
                                       <div class="col-md-6">
                                          <div class="form-group">
                                             <input type="text" class="form-control input-sm" placeholder="Min">
                                          </div>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                             <input type="text" class="form-control input-sm" placeholder="Max">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header">
                                 <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="property_grid.html#p_type" aria-expanded="true" aria-controls="p_type"> Property Type <i class="fa fa-caret-down float-right"></i> </a> </h4>
                              </div>
                              <div id="p_type" class="panel-collapse collapse show" role="tabpanel">
                                 <div class="card-body">
                                    <div class="checkbox ">
                                       <input type="checkbox" value="1" id="house">
                                       <label for="house">House</label>
                                    </div>
                                    <div class="checkbox ">
                                       <input type="checkbox" value="1" id="flat">
                                       <label for="flat">Flat</label>
                                    </div>
                                    <div class="checkbox ">
                                       <input type="checkbox" value="1" id="appartment">
                                       <label for="appartment">Appartment</label>
                                    </div>
                                    <div class="checkbox ">
                                       <input type="checkbox" value="1" id="farms">
                                       <label for="farms">Farms/Lands</label>
                                    </div>
                                    <div class="checkbox ">
                                       <input type="checkbox" value="1" id="room">
                                       <label for="room">Room</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header">
                                 <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="property_grid.html#p_features" aria-expanded="true" aria-controls="p_features"> Features <i class="fa fa-caret-down float-right"></i> </a> </h4>
                              </div>
                              <div id="p_features" class="panel-collapse collapse show" role="tabpanel">
                                 <div class="card-body">
                                    <div class="checkbox">
                                       <input type="checkbox" value="" id="garden">
                                       <label for="garden"> Garden</label>
                                    </div>
                                    <div class="checkbox">
                                       <input type="checkbox" value="" id="parking">
                                       <label for="parking"> Parking</label>
                                    </div>
                                    <div class="checkbox">
                                       <input type="checkbox" value="" id="fireplace">
                                       <label for="fireplace"> Fireplace</label>
                                    </div>
                                    <div class="checkbox">
                                       <input type="checkbox" value="" id="restaurant">
                                       <label for="restaurant"> Restaurant</label>
                                    </div>
                                    <div class="checkbox">
                                       <input type="checkbox" value="" id="school">
                                       <label for="school"> School</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 col-lg-9">
                  <div class="clearfix"></div>
                  <div class="item-listing grid">
                     <div class="row">
                        <!-- INDEX FOR ETAB START -->
                        <% @etablissements.each do |etab| %>
                        <a href="<%= etablissement_path(etab.id) %>">
                        	<div class="col-lg-6">
                        		<div class="item">
                        			<div class="item-image">
                        				<%= image_tag etab.image_etablissement.url(:thumb), class: "img-fluid", alt: ""%>
                        					<div class="item-badges">
                        						<% if etab.category? %>
                        							<div class="item-badge-left"><%= etab.category %></div>
                        						<% end %>
                        					</div>
                        				<a href="<%= etablissement_path(etab.id) %>"></a>
                        			</div>
                    				<div class="item-info">
                    					<div class="item-details-i"> star </div>
                    					<h3 class="item-title"><%= etab.nom %></h3>
                    					<div class="item-location"><i class="fa fa-map-marker"></i> <%= etab.adress %></div>
                    				</div>
                        		</div>
                        	</div>
                        </a>
                        <% end %>
                        <!-- INDEX FOR ETAB END -->
                     </div>
                  </div>
                  <nav aria-label="Page navigation">
                     <%= paginate @etablissements %>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>