<div class="container">
    <%= form_for @etablissement, url: etablissements_path, html: {multipart: true} do |f| %>
        <fieldset class="form-group">
            <label for="dossier_a_fournir">Dossier à fournir</label>
            <%= f.file_field :dossier_a_fournir %>
        </fieldset>

        <fieldset class="form-group">
            <label for="image_etablissement">Image</label>
            <%= f.file_field :image_etablissement %>
        </fieldset>

        <fieldset class="form-group">
            <label for="nom">Nom</label>
            <%= f.text_field :nom %>
        </fieldset>

        <fieldset class="form-group">
            <label for="mail">E-mail</label>
            <%= f.email_field :mail %>
        </fieldset>

        <fieldset class="form-group">
            <label for="telephone">Téléphone</label>
            <%= f.text_field :telephone %>
        </fieldset>

        <fieldset class="form-group">
            <label for="adress">Adresse</label>
            <%= f.text_field :adress %>
        </fieldset>

        <fieldset class="form-group">
            <label for="description">Description</label>
            <%= f.text_area :description %>
        </fieldset>

        <fieldset class="form-group">
            <label for="category">Catégorie</label>
            <%= f.text_field :category %>
        </fieldset>

        <fieldset class="form-group">
            <label for="latitude">Latitude</label>
            <%= f.text_field :latitude %>
        </fieldset>
        
        <fieldset class="form-group">
            <label for="longitude">Longitude</label>
            <%= f.text_field :longitude %>
        </fieldset>

        <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
    <div id="map"></div>
</div>
<script type="text/javascript">
$(function(){
    // On va remplacer dynamiquement la latitude et longitude
    // <% @etablissement.latitude %>,<% @etablissement.longitude %>,
    var latlng = new google.maps.LatLng(-18.90910, 47.52857)

    var map = new google.maps.Map(document.getElementById('map'),{
        zoom : 10,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    // Initialisation du marker
    var marker = new google.maps.Marker({
        position : latlng,
        map : map,
        title : 'Bougez ce curseur',
        draggable : true
    });

    // Initialisation du geocoder
    var geocoder = new google.maps.Geocoder();

    google.maps.event.addListener(marker, 'drag', function(){
        setPosition(marker);
    });

    $('#adresse').keypress(function(e){
        if(e.keyCode == 13){
            var request = {
                address : $(this).val()
            }
            geocoder.geocode(request, function(results, status){
                if(status == google.maps.GeocoderStatus.OK){
                    map.setCenter(results[0].geometry.location);
                }
            });
            return false;
        }
    });

});

function setPosition(marker){
    var pos = marker.getPosition();
    $('#etablissement_latitude').val(pos.lat());
    $('#etablissement_longitude').val(pos.lng());
};
</script>