<div class="container">
    <%= form_for @etablissement, url: etablissements_path, html: {multipart: true} do |f| %>
        <fieldset class="form-group">
            <label for="dossier_a_fournir">Dossier à fournir</label>
            <%= f.file_field :dossier_a_fournir %>
        </fieldset>

        <fieldset class="form-group">
            <label for="image_etablissement">Image</label>
            <%= f.file_field :image_etablissement %>
        </fieldset>

        <fieldset class="form-group">
            <label for="nom">Nom</label>
            <%= f.text_field :nom %>
        </fieldset>

        <fieldset class="form-group">
            <label for="mail">E-mail</label>
            <%= f.email_field :mail %>
        </fieldset>

        <fieldset class="form-group">
            <label for="telephone">Téléphone</label>
            <%= f.text_field :telephone %>
        </fieldset>

        <fieldset class="form-group">
            <label for="adress">Adresse</label>
            <%= f.text_field :adress %>
        </fieldset>

        <fieldset class="form-group">
            <label for="description">Description</label>
            <%= f.text_area :description %>
        </fieldset>

        <fieldset class="form-group">
            <label for="category">Catégorie</label>
            <%= f.text_field :category %>
        </fieldset>

        <fieldset class="form-group">
            <label for="latitude">Latitude</label>
            <%= f.text_field :latitude %>
        </fieldset>
        
        <fieldset class="form-group">
            <label for="longitude">Longitude</label>
            <%= f.text_field :longitude %>
        </fieldset>

        <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
    <div id="map"></div>
</div>