<h1>Niveaus Université#edit</h1>

<div class="container">
    <%= form_for @niv_sup do |n| %>

        <fieldset class="form-group">
            <label for="niveau">Niveau</label>
            <%= n.text_field :niveau %>
        </fieldset>

        <fieldset class="form-group">
            <label for="place">Nombre de place</label>
            <%= n.number_field :nb_place %>
        </fieldset>

        <%= n.submit "Modifier", class: "btn btn-primary" %>
    <% end %>
    <div><a href="<%= niveausups_path %>">Voir tous les niveaux</a></div>
</div>
