<h1>Niveaus Université#index</h1>
<table>
    <thead>
        <th>Niveau</th>
        <th>Nombres de place</th>
        <th></th>
        <th></th>
    </thead>
<% @niv_sup.each do |n| %>
    <tr>
        <td><%= n.niveau %></td>
        <td><%= n.nb_place %></td> 
        <td><%= link_to "Modifier", edit_niveausup_path(n.id), class: "btn btn-info" %></td>
        <td>
            <a href="<%= niveausup_path(n.id) %>" class="btn btn-danger" data-confirm="Êtes vous sur ?" data-method="DELETE">Supprimer</a>
        </td>
    </tr>
<% end %>
</table>
<a href="<%= new_niveausup_path %>">Créer new niveau</a>
