<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-12 col-lg-10 col-xl-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="register.html#">Home</a></li>
          <li class="breadcrumb-item"><a href="register.html#">Account</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
      </nav>
      <div class="page-header">
        <h1>Modifier mon compte</h1>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col col-md-12  col-lg-10 col-xl-8">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="login">
            <form>

              <div class="form-group">
                <label for="name">E-mail</label>
                <%= f.email_field :email, autofocus: true, class: "form-control form-control-lg" %>
              </div>
              <div class="form-group">
                <%= f.label :password %> <i>(veuillez laisser vide si vous ne souheitez pas modifier)</i><br />
                <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-lg" %>
              </div>
              <div class="form-group">
                <label for="password">Confirmer le nouveau mot de passe</label>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-control-lg" %>
              </div>
              <div class="form-group">
                <label for="password">Saisissez votre mot de passe actuel pour confirmer les changements</label>
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control form-control-lg" %>
              </div>
              <button type="submit" class="btn btn-primary btn-lg">Apliquer</button>
            </form>
          </div>
        </div>
        <div> </div>
      </div>
      
    </div>
  </div>
</div>

<% end %>