<h1>Articles#index</h1>
<table>
    <thead>
        <th>Titre</th>
        <th>Message</th>
        <th>Photo</th>
        <th></th>
        <th></th>
    </thead>
<% @articles.each do |a| %>
    <tr>
        <td><%= a.titre %></td>
        <td><%= a.message %></td>
        <td><%= a.photo %></td> 
        
    </tr>
<% end %>
</table>
<% if session[:responsable] %>
    <a href="<%= new_article_path %>">Créer new article</a>
    <a href="<%= article_path(session[:etab_id]) %>">Voir mes articles</a>
<% end %>
