 <div class="home-search">
    <div class="main search-form v2">
       <div class="container">
          <div class="row justify-content-md-center">
             <div class="col-md-12 col-lg-10">
                <div class="heading">
                   <h2>Trouvez votre prochaine école</h2>
                   <h3>E-anatra est la plateforme qu'il vous faut</h3>
                </div>

                <form action="etablissements/", method="GET">
                   <div class="row justify-content-md-center">
                      <div class="col-md-9 col-lg-8">
                         <div class="input-group input-group-lg">
                            <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
                            <input type="text" class="form-control" placeholder="Etablissements, lieux ...">
                            <span class="input-group-append">
                            <button class="btn btn-primary btn-lg" type="submit">Recherche</button>
                            </span>
                         </div>
                      </div>
                   </div>
                </form>

             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="content" class="pt0 pb0">
    <div class="feature-box centered">
       <div>
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col col-lg-12 col-xl-10">
                   <div class="row">
                      <div class="col-md-4">
                         <div class="content-box">
                            <div class="image"> <img src="img/demo/icons/1.png" width="100" alt=""> </div>
                            <h4>Lifestyle</h4>
                            <div class="caption">Create your best-ever home with the latest trends in renovating, decorating and more.</div>
                            <div class="button"><a href="index.html#">FIND YOUR INSPIRATION</a></div>
                         </div>
                      </div>
                      <div class="col-md-4">
                         <div class="content-box">
                            <div class="image"> <img src="img/demo/icons/2.png" width="100" alt=""> </div>
                            <h4>International</h4>
                            <div class="caption">Thinking abroad? You can now dream and discover international properties.</div>
                            <div class="button"><a href="index.html#">CHOOSE A COUNTRY</a></div>
                         </div>
                      </div>
                      <div class="col-md-4">
                         <div class="content-box">
                            <div class="image"> <img src="img/demo/icons/3.png" width="100" alt=""> </div>
                            <h4>Sell</h4>
                            <div class="caption">Understand your local market, learn how to get the best price for your property and find agents in your area.</div>
                            <div class="button"><a href="index.html#">EXPLORE NOW</a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>





      <div class="feature-box gray centered">
       <div>
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col col-lg-12 col-xl-10">
                   <div class="main-title"><span>Quelque un de nos établissements </span></div>
                   <div class="item-listing grid mb50">
                      <div class="row">

                        <!-- 3 ETABLISSEMENT HOME -->
                        <% @etablissements.each do |etab| %>
                        <a href="<%= etablissement_path(etab.id) %>">
                          <div class="col-md-4">
                            <div class="item">
                              <div class="item-image">
                                  <%= image_tag etab.image_etablissement.url(:thumb), class: "img-fluid" %>
                                  <% if etab.category? %>
                                  <div class="item-badges">
                                    <div class="item-badge-left"><%= etab.category %></div>
                                  </div>
                                  <% end %>
                                <a href="<%= etablissement_path(etab.id) %>"></a>
                              </div>
                            <div class="item-info">
                              <h3 class="item-title"><%= etab.nom %></h3>
                              <div class="item-location"><i class="fa fa-map-marker"></i>&nbsp;
                                <%= etab.adress %></div>
                                 <a href="<%= likes_path(etab)%>">
                              <div class="item-details-i"><i class="fa fa-thumbs-up"></i>&nbsp;
                              <%= etab.likers_count %> </div>
                                 </a>
                            </div>
                            </div>
                          </div>
                        </a>
                        <% end %>
                        <!-- 3 ETABLISSEMENT HOME END -->

                      </div>
                   </div>
                   <div class="text-center"><a href="/etablissements" class="btn btn-xlg btn-link">Voir tout</a></div>
                </div>
             </div>
          </div>
       </div>
    </div>





    <div class="feature-box centered">
       <div>
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col col-lg-12 col-xl-10">
                   <div class="main-title"><span>What our clients say</span></div>
                   <div class="swiper-container testimonials">
                      <div class="swiper-wrapper">
                         <div class="swiper-slide">
                            <div class="item content-box centered">
                               <div class="image"> <img class="rounded-circle" src="img/demo/profile.jpg" width="180" alt=""> </div>
                               <h4>Thank you for your quick and clear responses. They are much appreciated. This was a site that needed to go up fast and it has – customizations and all!</h4>
                               <div class="caption">The Brown Family</div>
                            </div>
                         </div>
                         <div class="swiper-slide">
                            <div class="item content-box centered">
                               <div class="image">
                                  <img class="rounded-circle" src="img/demo/profile2.jpg" width="180" alt="">
                                  <h4>Thank you for your quick and clear responses. They are much appreciated. This was a site that needed to go up fast and it has – customizations and all!</h4>
                                  <div class="caption">The Brown Family</div>
                               </div>
                            </div>
                         </div>
                         <div class="swiper-slide">
                            <div class="item content-box centered">
                               <div class="image">
                                  <img class="rounded-circle" src="img/demo/profile3.jpg" width="180" alt="">
                                  <h4>Thank you for your quick and clear responses. They are much appreciated. This was a site that needed to go up fast and it has – customizations and all!</h4>
                                  <div class="caption">The Brown Family</div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                   </div>
                   <script>
                      var swiper = new Swiper('.swiper-container', {
                        loop: true,
                        centeredSlides: true,
                          autoplay: {
                          delay: 5000,
                          disableOnInteraction: false,
                        },
                        pagination: {
                          el: '.swiper-pagination',
                          clickable: true,
                        },
                        navigation: {
                          nextEl: '.swiper-button-next',
                          prevEl: '.swiper-button-prev',
                        },
                      });
                            
                   </script> 
                </div>
             </div>
          </div>
       </div>
    </div>