<p id="notice"><%= notice %></p>

<p>
  <strong>Rentree:</strong>
  <%= @vague.rentree %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vague.status %>
</p>

<%= link_to 'Edit', edit_vague_path(@vague) %> |
<%= link_to 'Back', vagues_path %>
