<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-md-12 col-lg-10 col-xl-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="signin.html#">Home</a></li>
            <li class="breadcrumb-item"><a href="signin.html#">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
          </ol>
        </nav>
        <div class="page-header">
          <h1>Se connecter ou créer un compte</h1>
        </div>
      </div>
    </div>
</div>
<div id="content">
    <div class="container">
      <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-6  col-lg-5 col-xl-4">
          <ul class="nav nav-tabs tab-lg" role="tablist">
            <li role="presentation" class="nav-item"><a class="nav-link active" href="signin.html">Sign In</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="/users/sign_up">Register</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="login">
              <form>
                <div class="form-group">
                  <label for="email">Adresse e-mail</label>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", id: "email", class: "form-control form-control-lg" %>
                </div>
                <div class="form-group">
                  <label for="password">Mot de passe</label>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Password", id: "password", class: "form-control form-control-lg" %>
                </div>
                <p class="text-lg-right"><a href="/users/password/new">Mot de passe oublié?</a></p>

                <div class="checkbox">
					<% if devise_mapping.rememberable? -%>
					    <%= f.check_box :remember_me %>
					    <%= f.label :remember_me %>
					<% end -%>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Se connecter</button>
              </form>
            </div>
          </div>
          <div> </div>
        </div>
        
        <div class="col-md-6 col-lg-5 col-xl-4">
          <div class="socal-login-buttons"> <a href="signin.html#" class="btn btn-social btn-block btn-facebook"><i class="icon fa fa-facebook"></i> Continue with Facebook</a> <a href="signin.html#" class="btn btn-social btn-block btn-twitter"><i class="icon fa fa-twitter"></i> Continue with Twitter</a> <a href="signin.html#" class="btn btn-social btn-block btn-google"><i class="icon fa fa-google"></i> Continue with Google</a> </div>
        </div>
      </div>
    </div>
</div>

<% end %>